#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-top: 0em;
  padding-right: 2em;
  padding-bottom: 0em;
  top: 0;
  z-index: 1;

}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

#nav-bar .header {
  line-height: 80px;
  font-size: 200%;
  vertical-align: top;
}
