main {
  height: 100%;
  width: 50%;
  margin-right: 22.5%;
  margin-left: 22.5%;
  margin-top:-3%;
  padding-top: 14%;
}
section.new-tweet {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 15%;
  border-radius: 5px;
  background-color: #f0f0f5;
  width: 80%;
  padding: 10px;
}

textarea {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

input {
  display: inline-block;
  margin-left: auto;
}

section.new-tweet h2 {
  display: inline-block;
  margin-top: 2px;
  margin-left: auto;
  border-bottom: 1px solid black;
  width: 100%;
}

div.flashMessage {
  height: 18px;
  margin-left: 38%;
  margin-top: -5%;
  margin-bottom: 3%;
}

p.validation-msg {
  display: none;
  font-size: 80%;
  color: red;
}


p.lengthy-noshow {
  display: none;
  margin-left: 30%;
  margin-top: -5%;
  margin-bottom: 3%;
  font-size: 80%;
  color: red;
}

p.lengthy-show {
  margin-left: 30%;
  margin-top: -5%;
  margin-bottom: 3%;
  font-size: 80%;
  color: red;
}

span.counter {
  float: right;
  font-size: 12px;
  padding: 8px;
  margin-top: -31px;
}

.red {
  display: inline-block;
  float: right;
  font-size: 12px;
  padding: 8px;
  color: red;
}

div#tweets-container {
  /*height: 1000px;
  background-color: white;
  margin-top: -2em;
  margin-bottom: 30%;*/
}

/*non-hovered tweet*/
article.tweet {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 2%;
  border: 1px solid #999999;;
  background-color: white;
}

/*hovered tweet */
article.tweet.hover {
  opacity: 1;
  position: absolute;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 15em;
  border-radius: 2%;
  border: 1px solid #999999;;
  background-color: white;
  padding:0;
  width: 24em;
  height: 13em;
}

/* header */
article.tweet header{
  background-color: #f0f0f5;
  margin-top:0;
  height: 3.6em;
  width: 100%;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  padding: 2.5%;
}

article.tweet header img {
  width: 2.6em;
  height: 2.6em;
  float: left;
  border-radius: 10%;
}

/*Name*/
article header h2 {
  margin-left: 13%;
  margin-top: 1%;
}

/*@LastName*/
article header p {
  color: #999999;
  float: right;
  margin-right: 0.4em;
  margin-top: -3em;
}

div.text {
  margin-left: 4%;
  margin-right: 4%;
}

footer {
  border-top: 0.1em solid #f0f0f5;
  height: 2em;
  width: 100%;
  margin-top: 6%;
}

footer p {
  font-size: 0.8em;
  margin-top: 2%;
  margin-left: 4%;
}

footer div.hover {
  margin-top: -9%;
}

footer img{
  float: right;
  margin-right: 3%;
}
